@use "../../settings/variables" as v;
@use "../../tools/functions" as f;
@use "../../tools/mixins" as m;

@layer components {

  .header {
    
    &__nav {
      background-color: f.color-alpha(v.$color-light-fallback, 0.9);
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px); // Safari fallback
    }

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include m.respond-to-max(md) { 
        gap: v.$spacing-md;
      }
    }

    &__logo {
      height: 4.5rem;
      width: auto;
    }

    @include m.respond-to-max(md) {

      &__container:has(.header__collapse.show) &__brand {
        display: none;
      }
    }
  }
}