@use "../../settings/variables" as v;

@layer contact-base {
  .contact-map {

    &__embed-wrapper {
      height: 300px; //fallback
      height: 40svh; //modern

      iframe {
        width: 100%;
        height: 100%;
        border: none;
        display: block;
        filter: contrast(95%);
      }
    }

    &__caption {
      padding-block: v.$spacing-sm;
      font-size: 0.875rem;
      color: v.$color-secondary-fallback;

      i {
        color: v.$color-primary-fallback;
        margin-right: 0.25rem;

        @supports (color: oklch(62% 0.15 50)) {
          color: v.$color-primary;
        }
      }
    }
  }
}