<div class="contact-section__info">
  <h2 class="contact-section__title" id="contact-section-title">
    Información de contacto
  </h2>

  <div class="contact-cards">
    <article class="contact-card" aria-labelledby="location-title">
      <div class="contact-card__icon">
        <i class="fa-solid fa-location-dot" aria-hidden="true"></i>
      </div>
      <div class="contact-card__body">
        <h3 class="contact-card__title" id="location-title">Localización</h3>
        <address class="contact-card__text">
          Caixa Fòrum Barcelona<br />
          Av. de Francesc Ferrer i Guàrdia, 6-8<br />
          08038 Barcelona
        </address>
      </div>
    </article>

    <article class="contact-card" aria-labelledby="date-title">
      <div class="contact-card__icon">
        <i class="fa-solid fa-calendar" aria-hidden="true"></i>
      </div>
        <div class="contact-card__body">
          <h3 class="contact-card__title" id="date-title">Fecha</h3>
          <p class="contact-card__text">
            <time datetime="2026-05-10">10 de mayo de 2026</time>
          </p>
        </div>
    </article>

    <article class="contact-card" aria-labelledby="email-title">
      <div class="contact-card__icon">
        <i class="fa-solid fa-envelope" aria-hidden="true"></i>
      </div>
      <div class="contact-card__body">
        <h3 class="contact-card__title" id="email-title">Correo</h3>
        <p class="contact-card__text">
          <a href="mailto:hola@materiaviva.com" class="link-secondary link-opacity-50-hover">hola@materiaviva.com</a>
        </p>
      </div>
    </article>

    <article class="contact-card" aria-labelledby="social-title">
      <div class="contact-card__icon">
        <i class="fa-solid fa-share-nodes" aria-hidden="true"></i>
      </div>
      <div class="contact-card__body">
        <h3 class="contact-card__title" id="social-title">Redes Sociales</h3>
        <ul class="contact-card__socials" role="list">
          <li>
            <a href="https://instagram.com" class="contact-card__text link-secondary link-opacity-50-hover" target="_blank" rel="noopener noreferrer"
              aria-label="Instagram de Materia Viva">
              <i class="fa-brands fa-instagram" aria-hidden="true"></i>
              @materiaviva
            </a>
          </li>
          <li>
            <a href="https://x.com" target="_blank" class="contact-card__text link-secondary link-opacity-50-hover" rel="noopener noreferrer" 
              aria-label="X de Materia Viva">
              <i class="fa-brands fa-twitter" aria-hidden="true"></i> 
              @materiaviva
            </a>
          </li>
        </ul>
      </div>
    </article>
  </div>
</div>