@use "../../settings/variables" as v;
@use "../../tools/functions" as f;

@layer article-base {
  .article-hero {
    position: relative;
    overflow: hidden;

    &__image-wrapper {
      max-height: 400px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
      }
    }

    &__content {
      position: absolute;
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-block: v.$spacing-lg;
      color: v.$color-light-fallback;
      gap: v.$spacing-sm;
      z-index: 2;
      filter: drop-shadow(5px 5px 20px f.color-alpha(v.$color-dark-fallback, 1));
    }

    &__title {
      font-size: clamp(3rem, 6vw, 6rem);
      color: v.$color-primary-fallback;
      text-shadow: 1px 1px 1px f.color-alpha(v.$color-light-fallback, 0.8);
    }

    &__meta {
      display: flex;
      gap: v.$spacing-sm;
      margin-bottom: v.$spacing-md;
      flex-wrap: wrap;
      opacity: 0.9;
    }

    &__author,
    &__date {
      color: v.$color-light-fallback;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: lienar-gradient(
        to top,
        f.color-alpha(v.$color-dark-fallback, 0.8),
        f.color-alpha(v.$color-dark-fallback, 0.2)
        transparent
      );
      z-index: 1;
    }
  }
}