<section class="hero o-section" aria-labelledby="hero-title">
  <div class="hero__grid">

    <div class="hero__item hero__item--large" data-aos="fade-right">
      <img
        srcset="
          ./assets/images/home/hero.jpg?width=400&as=webp 400w,
          ./assets/images/home/hero.jpg?width=800&as=webp 800w,
        "
        sizes="(max-width: 768px) 100vw, 50vw"
        alt=""
        width="800"
        height="600"
        fetchpriority="high"
      />
    </div>

    <div class="hero__item hero__item--medium" data-aos="fade-left" data-aos-delay="100">
      <span class="hero__tag">Jornadas Artesanales</span>
      <h1 class="hero__title" id="hero-title">
        <span>
          <span class="hero__title-line hero__title-line--accent">Materia</span>
          <span class="hero__title-line hero__title-line--complementary">Asociación Cultural</span>
        </span>
        <span class="hero__title-line">Viva</span>
      </h1>
    </div>

    <div class="hero__item hero__item--skiny" data-aos="fade-left" data-aos-delay="400">
      <span class="hero__number">4.ª edición</span>
    </div>

    <div class="hero__item hero__item--broad" data-aos="fade-left" data-aos-delay="250">
      <address class="hero__place">
        <span class="hero__place-line hero__place-line--accent">
          <i class="fa-solid fa-location-dot" aria-hidden="true"></i>
          Caixa Fòrum
        </span>
        <span class="hero__place-line">
          <a href="https://maps.app.goo.gl/PHDCNxrGcMs7YzfGA" target="_blank" class="link-secondary link-opacity-50-hover">
            Av. de Francesc Ferrer i Guàrdia, 6-8, Sants-Montjuïc, 08038 Barcelona
          </a>
        </span>
      </address>
    </div>

    <div class="hero__item hero__item--mediumdesc" data-aos="fade-up" data-aos-delay="100">
      <p class="hero__desc">
        Jornadas de talleres contemporáneos que reúnen a <strong><a href="/speakers" class="link-secondary link-opacity-50-hover">expertos</a>, creadores y amantes de la artesanía</strong> para explorar su relevancia
        e impacto en el mundo actual, compartir conocimientos y celebrar la <strong>creatividad artesanal</strong> en todas sus formas. <br>
        A lo largo de estas jornadas, se llevarán a cabo una serie de <strong>talleres y actividades</strong> que abriran las puertas a nuevos horizontes de aprendizaje y creatividad. <br>
        Descubre las últimas tendencias, técnicas y perspectivas en el ámbito de la artesanía, y sumérgete en un espacio de <strong>aprendizaje práctico</strong>. <br>
      </p>
    </div>

    <div class="hero__item hero__item--small" data-aos="fade-up" data-aos-delay="250">
      <time datetime="2026-05-10" class="hero__date">
        <div class="first">
          <span class="hero__date-day">10</span>
          <span class="hero__date-month">MAYO</span>
        </div>
        <span class="hero__date-year">2026</span>
      </time>
    </div>

    <div class="hero__item hero__item--wide" data-aos="fade-up-left" data-aos-delay="400">
      <a href="/blog" role="button" class="btn btn-secondary hero__cta">
        Más información
        <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
      </a>
    </div>

    <div class="hero__item hero__item--spacer"></div>

  </div>
</section>
